header {
  min-height: 40vh;
  background-color: #333;
}
.nav-link {
  font-weight: 600;
  letter-spacing: 1px;
  margin-right: 2rem;
}
.nav-item .active {
  color: #007bff !important;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 40vh;
}
form {
  width: 25rem !important;
}
input,
textarea,
select,
.margin {
  border-radius: 0 !important;
}
footer{
  background-color: #333;
}     
#qrCodeContainer {
  display: none;
}
#toast{
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  max-width: 20rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
  display: none;
}
.copy-icon,
.delete-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}
#fullUrl:hover + .delete-icon,
.delete-icon:hover {
  color: red;
} 
#shortUrl:hover + .copy-icon,
.copy-icon:hover {
  color: #007bff;
}